In [1]:
# Imporint Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading the clean dataset for the model training
df_clean = pd.read_csv(r'E:\Revenue_Generation\df_clean.csv')

In [3]:
df_clean.head()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_data,booking_date_month,check_in_date_month_name,no_of_days_stays
0,May012216558RT11,16558,2022-04-27,2022-05-01,2022-05-02,Three Guests,Standard,direct online,1.000000,Checked Out,10010,10010,2022-04-27,April,May,One Day
1,May012216558RT12,16558,2022-04-30,2022-05-01,2022-05-02,Two Guests,Standard,others,3.619004,Cancelled,9100,3640,2022-04-30,April,May,One Day
2,May012216558RT13,16558,2022-04-28,2022-05-01,2022-05-04,Two Guests,Standard,logtrip,5.000000,Checked Out,9100,9100,2022-04-28,April,May,Three Day
3,May012216558RT14,16558,2022-04-28,2022-05-01,2022-05-02,Two Guests,Standard,others,3.619004,Cancelled,9100,3640,2022-04-28,April,May,One Day
4,May012216558RT15,16558,2022-04-27,2022-05-01,2022-05-02,Four Guests,Standard,direct online,5.000000,Checked Out,10920,10920,2022-04-27,April,May,One Day

In [4]:
df_clean.tail()

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_data,booking_date_month,check_in_date_month_name,no_of_days_stays
134585,Jul312217564RT46,17564,2022-07-29,2022-07-31,2022-08-03,One Guests,Presidential,makeyourtrip,2.000000,Checked Out,32300,32300,2022-07-29,July,July,Three Day
134586,Jul312217564RT47,17564,2022-07-30,2022-07-31,2022-08-01,Four Guests,Presidential,logtrip,2.000000,Checked Out,38760,38760,2022-07-30,July,July,One Day
134587,Jul312217564RT48,17564,2022-07-30,2022-07-31,2022-08-02,One Guests,Presidential,tripster,3.619004,Cancelled,32300,12920,2022-07-30,July,July,Two Day
134588,Jul312217564RT49,17564,2022-07-29,2022-07-31,2022-08-01,Two Guests,Presidential,logtrip,2.000000,Checked Out,32300,32300,2022-07-29,July,July,One Day
134589,Jul312217564RT410,17564,2022-07-31,2022-07-31,2022-08-01,Two Guests,Presidential,makeyourtrip,3.619004,Cancelled,32300,12920,2022-07-31,July,July,One Day

In [5]:
# Dropping the booking_id,property_id column
df_clean.drop(['booking_id','property_id'],axis=1,inplace=True)

In [6]:
df_clean.head()

,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_data,booking_date_month,check_in_date_month_name,no_of_days_stays
0,2022-04-27,2022-05-01,2022-05-02,Three Guests,Standard,direct online,1.000000,Checked Out,10010,10010,2022-04-27,April,May,One Day
1,2022-04-30,2022-05-01,2022-05-02,Two Guests,Standard,others,3.619004,Cancelled,9100,3640,2022-04-30,April,May,One Day
2,2022-04-28,2022-05-01,2022-05-04,Two Guests,Standard,logtrip,5.000000,Checked Out,9100,9100,2022-04-28,April,May,Three Day
3,2022-04-28,2022-05-01,2022-05-02,Two Guests,Standard,others,3.619004,Cancelled,9100,3640,2022-04-28,April,May,One Day
4,2022-04-27,2022-05-01,2022-05-02,Four Guests,Standard,direct online,5.000000,Checked Out,10920,10920,2022-04-27,April,May,One Day

In [7]:
df_clean['checkout_date'].dtypes

dtype('O')

In [8]:
df_clean['checkout_date'] = pd.to_datetime(df_clean['checkout_date'])

In [9]:
# Extracting the month column from the check_out_date
df_clean['check_out_date_month_name'] = df_clean['checkout_date'].dt.month_name()

In [10]:
# Dropping the booking_date,check_in_data and checkout_date column from the dataframe
df_clean.drop(['booking_date','check_in_date','checkout_date'],axis=1,inplace=True)

In [11]:
# Dropping the booking_date,check_in_data and checkout_date column from the dataframe
df_clean.drop(['booking_data'],axis=1,inplace=True)

In [12]:
df_clean['no_guests'].unique()

array(['Three Guests', 'Two Guests', 'Four Guests', 'One Guests',
       'Six Guests', 'Five Guests'], dtype=object)

In [13]:
# Converting the no_guests column into numbers
df_clean['no_guests']=df_clean['no_guests'].map({'One Guests':1,'Two Guests':2,'Three Guests':3,'Four Guests':4,'Five Guests':5,'Six Guests':6})

In [14]:
df_clean['room_category'].unique()

array(['Standard', 'Elite', 'Premium', 'Presidential'], dtype=object)

In [15]:
# Converting the room category column into numbers
df_clean['room_category'] = df_clean['room_category'].map({'Standard':1,'Elite':2,'Premium':3,'Presidential':4})

In [16]:
df_clean['booking_platform'].unique()

array(['direct online', 'others', 'logtrip', 'tripster', 'makeyourtrip',
       'journey', 'direct offline'], dtype=object)

In [17]:
# Converting the booking platform column into numbers
df_clean['booking_platform'] = df_clean['booking_platform'].map({'direct online':1,'makeyourtrip':2,'journey':3,'logtrip':4,'tripster':5,'direct offline':6,'others':7})

In [18]:
df_clean['booking_status'].unique()

array(['Checked Out', 'Cancelled', 'No Show'], dtype=object)

In [19]:
# Converting the booking status column into numbers
df_clean['booking_status'] = df_clean['booking_status'].map({'Checked Out':1,'Cancelled':2,'No Show':3})

In [20]:
df_clean['no_of_days_stays'].unique()

array(['One Day', 'Three Day', 'Two Day', 'Five Day', 'Six Day',
       'Four Day'], dtype=object)

In [21]:
# # Converting the no of days stays status column into numbers
# df_clean['no_of_days_stays'] = df_clean['no_of_days_stays'].map({'One Day':1,'Two Day':2,' Three Day':3,'Four Day':4,'Five Day':5,'Six Day':6})

In [22]:
df_clean['no_of_days_stays'].unique()

array(['One Day', 'Three Day', 'Two Day', 'Five Day', 'Six Day',
       'Four Day'], dtype=object)

In [23]:
df_clean['booking_date_month'].unique()

array(['April', 'May', 'June', 'July'], dtype=object)

In [24]:
month_mapping = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12,
}

In [25]:
# Converting the months into numbers
df_clean['booking_date_month'] = df_clean['booking_date_month'].map(month_mapping)
df_clean['check_in_date_month_name'] = df_clean['check_in_date_month_name'].map(month_mapping)
df_clean['check_out_date_month_name'] = df_clean['check_out_date_month_name'].map(month_mapping)

In [26]:
df_clean.head()

,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_date_month,check_in_date_month_name,no_of_days_stays,check_out_date_month_name
0,3,1,1,1.000000,1,10010,10010,4,5,One Day,5
1,2,1,7,3.619004,2,9100,3640,4,5,One Day,5
2,2,1,4,5.000000,1,9100,9100,4,5,Three Day,5
3,2,1,7,3.619004,2,9100,3640,4,5,One Day,5
4,4,1,1,5.000000,1,10920,10920,4,5,One Day,5

In [27]:
df_clean['no_of_days_stays'].unique()

array(['One Day', 'Three Day', 'Two Day', 'Five Day', 'Six Day',
       'Four Day'], dtype=object)

In [28]:
day_mapping={
    'One Day':1,
    'Two Day':2,
    'Three Day':3,
    'Four Day':4,
     'Five Day':5,
     'Six Day':6
}

In [29]:
df_clean['no_of_days_stays'] = df_clean['no_of_days_stays'].map(day_mapping)

In [30]:
df_clean.head()

,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_date_month,check_in_date_month_name,no_of_days_stays,check_out_date_month_name
0,3,1,1,1.000000,1,10010,10010,4,5,1,5
1,2,1,7,3.619004,2,9100,3640,4,5,1,5
2,2,1,4,5.000000,1,9100,9100,4,5,3,5
3,2,1,7,3.619004,2,9100,3640,4,5,1,5
4,4,1,1,5.000000,1,10920,10920,4,5,1,5

In [31]:
#  Checking the correlation of the columns in the dataframe
# sns.heatmap(df_clean,annot=True,fmt=".2f")

In [32]:
df_clean.to_csv('df_model.csv',index=False)

In [33]:
df_model = pd.read_csv(r'df_model.csv')

In [34]:
df_model.head()

,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_date_month,check_in_date_month_name,no_of_days_stays,check_out_date_month_name
0,3,1,1,1.000000,1,10010,10010,4,5,1,5
1,2,1,7,3.619004,2,9100,3640,4,5,1,5
2,2,1,4,5.000000,1,9100,9100,4,5,3,5
3,2,1,7,3.619004,2,9100,3640,4,5,1,5
4,4,1,1,5.000000,1,10920,10920,4,5,1,5

In [35]:
df_model.shape

(134590, 11)

In [36]:
# round(0.01*1134590)

In [37]:
# df_model_sample = df_model.sample(frac=0.001)

In [38]:
# df_model_sample.head()

In [39]:
df_model.corr()

,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized,booking_date_month,check_in_date_month_name,no_of_days_stays,check_out_date_month_name
no_guests,1.000000,0.064047,-0.001190,-1.981883e-03,-2.298765e-03,0.215558,0.170780,-0.010536,0.001179,0.077236,0.005857
room_category,0.064047,1.000000,0.003069,3.654953e-03,-2.622546e-03,0.824697,0.655257,0.000809,0.000134,-0.003739,-0.000981
booking_platform,-0.001190,0.003069,1.000000,7.647295e-04,2.151140e-03,0.001714,0.003258,-0.001905,-0.001923,0.001046,-0.002142
ratings_given,-0.001982,0.003655,0.000765,1.000000e+00,-8.133810e-18,0.002717,0.002531,-0.002638,-0.002057,0.002183,-0.000722
booking_status,-0.002299,-0.002623,0.002151,-8.133810e-18,1.000000e+00,-0.002458,-0.366893,-0.006850,-0.007158,-0.006813,-0.007465
revenue_generated,0.215558,0.824697,0.001714,2.716968e-03,-2.457718e-03,1.000000,0.794316,0.002404,0.000875,-0.010277,-0.000136
revenue_realized,0.170780,0.655257,0.003258,2.530595e-03,-3.668929e-01,0.794316,1.000000,0.004342,0.002425,-0.005203,0.002095
booking_date_month,-0.010536,0.000809,-0.001905,-2.638227e-03,-6.850234e-03,0.002404,0.004342,1.000000,0.928303,-0.010404,0.896281
check_in_date_month_name,0.001179,0.000134,-0.001923,-2.057349e-03,-7.157771e-03,0.000875,0.002425,0.928303,1.000000,0.001799,0.952459
no_of_days_stays,0.077236,-0.003739,0.001046,2.183336e-03,-6.812893e-03,-0.010277,-0.005203,-0.010404,0.001799,1.000000,0.068497
check_out_date_month_name,0.005857,-0.000981,-0.002142,-7.217737e-04,-7.464972e-03,-0.000136,0.002095,0.896281,0.952459,0.068497,1.000000

In [40]:
# From the above table we can filter out theat column which have signigicanta amount of coorelation with the target column
# Target Column:- revenue_realized
# Name of the columns which have the significant correlation with the target column
# Room Category->62%
# Booking Status->43%
# Revenue Generated->73%
# No_of_guets->17%

In [41]:
# Dropping the rest of the columns which are not highly correlated
df_model.drop(['booking_platform','ratings_given','booking_date_month','check_in_date_month_name','no_of_days_stays','check_out_date_month_name'],axis=1,inplace=True)

In [42]:
df_model.head()

,no_guests,room_category,booking_status,revenue_generated,revenue_realized
0,3,1,1,10010,10010
1,2,1,2,9100,3640
2,2,1,1,9100,9100
3,2,1,2,9100,3640
4,4,1,1,10920,10920

In [43]:
# Now we will do the train_test_split
# Importing the Library for the train test split
# Seperating the dependent and independent columns
X=df_model.drop('revenue_realized',axis=1)
y=df_model['revenue_realized']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2042)

In [44]:
print("Shape of the X_train is {}".format(X_train.shape))
print("Shape of the X_test is {}".format(X_test.shape))
print("Shape of the y_train is {}".format(y_train.shape))
print("Shape of the y_test is {}".format(y_test.shape))

Shape of the X_train is (107672, 4)
Shape of the X_test is (26918, 4)
Shape of the y_train is (107672,)
Shape of the y_test is (26918,)

In [45]:
# Importing the regression machine learning libraries for the prediction
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# Importing the library for checking the accuracy of the model
from sklearn.metrics import r2_score

In [46]:
def prediction(model) :
    model.fit(X_train,y_train)
    y_predict=model.predict(X_test)
    print("Accuracy of the {} is {}".format(model,r2_score(y_predict,y_test)))

In [47]:
# prediction(LinearRegression())
# prediction(SVR())
# prediction(DecisionTreeRegressor())
# prediction(RandomForestRegressor())

In [48]:
# Final model is Random Forest Regreesor because it giving about 99% of the accuracy of and Descion Tree Regressor is giving 100% of the accuracy but if it is giving the 100% then might be the overfit model

In [49]:
model_final=RandomForestRegressor()
prediction(model_final)

Accuracy of the RandomForestRegressor() is 0.9999999804416276

In [50]:
# Saving the trained machine learning model into the pickel file
import pickle
with open("model_pickle.pkl","wb") as f:
    pickle.dump(model_final,f)

In [51]:
with open("model_pickle.pkl","rb") as f :
    mp=pickle.load(f)

In [53]:
# mp.predict[[2,1,2,9100]]
test=np.array([2,2,5,8975])
test=test.reshape(1,-1)
print(mp.predict(test))

[9000.]